{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Idea Validated</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="https://storage.googleapis.com/rumin-gcs-bucket/static/pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="{% static "frontend/style.css" %}" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">

     <link rel="shortcut icon" type="image/x-icon" href="https://storage.googleapis.com/rumin-gcs-bucket/favicon2.png"/>

    <!-- nav -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
  <style>
  .dropdown-menu li.list-item {
    padding: 0.5em 0;
  }

  /*.dropdown-menu li.list-item a:hover {
    background-color: #CBE6FF;
  }*/

  .dropdown-menu .divider {
    height: 1px;
    background-color: #ccc;
  }
   
  .btn-signup:hover {
    background-color: #ccc;
  }

  .formkit-form {
    max-width: 100%;
  }

  .pricing-tier-panel {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1em;
    height: 420px;
  }

  .pricing-tier-panel ul {
    padding: 0;
    list-style: none;
  }

  </style>
     {% load user_agents %}

    
  {% include 'frontend/vaas_header.html' %}

  <div class="container blog-content" style="padding-top: 12vh;">
    <div class="text-center">
      <div class="" style="margin-bottom: 4em;">
        <div class="col-lg-10 mx-auto ">
          <h2 class="mb-2">Hi there 👋</h2> 
          <h2 class="mb-4">My name is John.</h2>

          <div class="mb-4">
            <img src="https://storage.googleapis.com/rumin-gcs-bucket/dp.jpg" style="width: 250px;" />
          </div>

          <div class="mb-4 col-md-9 mx-auto text-left">
            <p>I am a maker, learner, and <a href="https://www.linkedin.com/in/john-y-139b244b/" target="_blank">former Product Manager</a>.</p>

            <p>Building a successful product is hard. By default, the world is too busy to care about your idea. It is sad to see teams wasting months chasing after ideas based on false assumptions that could have been prevented. </p>
            <p><strong>Life is too short to build products no one cares about.</strong></p>

            <p>I have worked with many companies, big and small, on validating and building their product ideas. Along the way, I have learned many lessons the hard way.</p>

            <p>As a founder, creative person, or a high-functioning product team, naturally you have <em>more ideas than you will ever have time to build</em>.</p>

            <p>Let us help you vet them, so you can focusing on the most promising ideas.</p>
          </div>
        </div>
      </div>

      <!-- <p>Test before you invest</p> -->

      <div class="mb-4 col-lg-6 mx-auto">
        <div id="contact" class="" style="margin-bottom: 8em;">
          <h4 class="mb-4">Let's do this.</h4>

          <script async data-uid="41c8b98069" src="https://artisanal-author-9219.ck.page/41c8b98069/index.js"></script>
        </div>
      </div>

      <!-- <div class="divider"></div>

      <div>
        <h4>My travels</h4> 
      </div> -->
    </div>
  </div>

    <!-- Template Main JS File -->
  <script src="https://storage.googleapis.com/rumin-gcs-bucket/static/pages/js/main.js"></script>

  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=b1fc7db6-0aa3-4528-b257-add77901603c"> </script>

  {% if not debug %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172756954-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-172756954-1');
    </script>
  {% endif %}

  </body>
</html>
