<header class="site-navbar site-navbar-target" role="banner">
		  <div class="container">
    <div class="row align-items-center">

      <div class="col-6 col-lg-3">
        <div class="site-logo mt-4 mb-4">
          <a href="/" class="mb-0" style="color: #777;">
            <!-- <img src="https://storage.googleapis.com/rumin-gcs-bucket/logo-search2-light.png" class="logo-img" /> -->
            <span style="vertical-align: middle;">Top Code Examples</span>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-9 d-none d-lg-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">    
            <!-- <li><a href="/about_validate" class="nav-link">About</a></li> -->
          </ul>
        </nav>
      </div>


    </div>
  </div>

</header>
