<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rumin</title>

    {% load static %}
    <link href="{% static "frontend/style.css" %}" rel="stylesheet">
  </head>

  <body>
    <div id="rumin_body">
      
    </div>
    <!-- {% include 'collections_pane.html' %}
    
    <div class="main-content">
      {% include 'search_section.html' %}

      <div class="log-page" style="padding: 2em;">
        <h1>Growth strategy (sandbox)</h1>

        <div class="collection-blocks" style="margin-bottom: 2em;">
          <div class="list-block">
            <div class="bullet-wrapper">
              <div class="bullet">
                <svg viewBox="0 0 100 100" class="triangle" style="width: 0.6875em; height: 0.6875em; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(180deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
              </div>
            </div>
            <div class="block-content" contenteditable="true">
              <div class="block-edit">
                <span class="tag">#Growth</span> for the <a href="#"> Experiences vertical</a>               

                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      Organic <span class="tag">#growth</span>
                    </div>
                  </div>
                </div>

                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      <a href="#">Engaging existing users</a>
                    </div>
                  </div>
                </div>

                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      <a href="#">Promotional channels</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list-block">
            <div class="bullet-wrapper">
              <div class="bullet">
                <svg viewBox="0 0 100 100" class="triangle" style="width: 0.6875em; height: 0.6875em; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(180deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
              </div>
            </div>
            <div class="block-content" contenteditable="true">
              <div class="block-edit">
                Engaging existing users <span class="block-timestamp">  &nbsp;· Today 2:38 PM</span>
                
                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      Top <a href="#">metrics</a> to monitor
                    </div>
                  </div>
                </div>

                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      Goals
                    </div>
                  </div>
                </div>

                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      <a href="#">Feature ideas</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="list-block">
            <div class="bullet-wrapper">
              <div class="bullet">
                <svg viewBox="0 0 100 100" class="triangle" style="width: 0.6875em; height: 0.6875em; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(180deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
              </div>
            </div>
            <div class="block-content" contenteditable="true">
              <div class="block-edit">
                Promoting on the <a href="#">Home Page</a> <span class="block-timestamp">  &nbsp;· Yesterday 12:23 PM</span>
                
                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      Top <a href="#">metrics</a> to monitor
                    </div>
                  </div>
                </div>

                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      Possible channels 
                    </div>
                  </div>
                </div>

                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      <a href="#">Feature ideas</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>   

          <div class="list-block">
            <div class="bullet-wrapper">
              <div class="bullet">
                <svg viewBox="0 0 100 100" class="triangle" style="width: 0.6875em; height: 0.6875em; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(180deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
              </div>
            </div>
            <div class="block-content" contenteditable="true">
              <div class="block-edit">
                <span class="tag">#Observations</span> on the dashboard <span class="block-timestamp">  &nbsp;· Today 2:38 PM</span>
                
                <div class="break"></div>

                <div class="block-content" contenteditable="true" style="margin-left: -4px;">
                  <div class="bullet-wrapper">
                    <div class="bullet">
                      <svg viewBox="0 0 100 100" class="triangle" style="width: 10px; height: 10px; display: block; fill: #3c4043; flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(90deg); opacity: 0.5;"><polygon points="5.9,88.2 50,11.8 94.1,88.2 "></polygon></svg>
                    </div>
                  </div>
                  <div class="block-content" contenteditable="true">
                    <div class="block-edit">
                      the top 10% most active users on the <a href="#">Home Page</a> on average have a 473% longer dwell time on the site (all pages) than the rest of the users
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="related-section">
        	<div class="heading">
          	<h3 style="color: #666">Related thoughts</h3>
        	</div>
          <div class="tabs">
            <div class="tab active">
            	References
            </div>
            <div class="tab">
            	Suggested by Rumin
            </div>
            <div class="tab">
            	Related topics
            </div>
            <div class="tab">
            	Graph view
            </div>
            <div class="divider"></div>
          </div>

          <div class="related-content">
          	<div class="related-results">
          		<div class="card">
          			<h4 style="margin-top: 0;">Next big thing in hospitality</h4>
          			<div class="card-body" contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          		</div>

          		<div class="card">
          			<h4 style="margin-top: 0;">Questions to ponder</h4>
          			<div class="card-body" contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          		</div>

          		<div class="card">
          			<h4 style="margin-top: 0;">Daily Note - 2/11/2020</h4>
          			<div class="card-body" contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          		</div>

          		<div class="card">
          			<h4 style="margin-top: 0;">Daily Note - 2/8/2020</h4>
          			<div class="card-body" contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          		</div>
	          </div>
          </div>
        </div>
      </div>
    </div> -->
  </body>

  <script src="{% static "frontend/main.js" %}"></script>
</html>
