<script type="text/javascript">
	window.articles = [
		{
			url: 'https://knowledgeartist.org/article/framework-digital-wellbeing',
			title: 'Simple Framework for Digital Well-being',
			description: 'A simple approach for getting our attention back and staying mentally healthy in the digital age.',
			categories: ['life', 'future']
		},
		{
			url: 'https://knowledgeartist.org/article/symphony-of-ideas',
			title: 'Symphony of Ideas',
			description: 'Presenting ideas as a symphony adds more dimensions to a thought, and richness to life. You can often arrive at a deeper appreciation. A deeper understanding.',
			categories: ['life', 'knowledge']
		},
		{
			url: 'https://knowledgeartist.org/article/becoming-a-monk',
			title: 'Contemplating Becoming a Monk',
			description: 'Documenting my thinking around the romantic idea of becoming a monk.',
			categories: ['life']
		},
		{
			url: 'https://knowledgeartist.org/article/genius-craziness',
			title: 'Genius and Craziness',
			description: 'Exploring the connection between ingenuity and madness. And what it means for the rest of us.',
			categories: ['life']
		},
		{
			url: 'https://knowledgeartist.org/article/content-writing-automation',
			title: 'My Attempts to Automate Content Writing',
			description: 'Documenting my approaches in automating my writing using AI.',
			categories: ['future', 'knowledge', 'productivity', 'automation', 'entrepreneurship']
		},
		{
			url: 'https://knowledgeartist.org/article/ideal-knowledge-management-system-content-creators',
			title: 'Building an Ideal Knowledge Management System for Content Creators',
			description: 'Laying out a vision of the dream tools to help content creators manage and apply their cumulative learnings.',
			categories: ['future', 'knowledge', 'productivity']
		},
		{
			url: 'https://knowledgeartist.org/article/procrastination-is-instructive',
			title: 'Procrastination is Instructive. Use it as a Tool',
			description: 'Procrastination can be a powerful tool because it carries information. It gives you valuable insights into your true motivation.',
			categories: ['productivity', 'life']
		},
		{
			url: 'https://knowledgeartist.org/article/qualitative-quantitative',
			title: 'Qualitative and Quantitative Data — Let\'s Blur the Line',
			description: 'It is common to classify data as quantitative and qualitative. In this post I talk about why this distinction is not always useful, and exciting directions for future developments.',
			categories: ['future', 'knowledge', 'productivity']
		},
		{
			url: 'https://knowledgeartist.org/article/next-frontier-search',
			title: 'The Next Frontiers of Search',
			description: 'Speculations about the future of search, and plausible paths to get there.',
			categories: ['future', 'knowledge']
		},
		{
			url: 'https://knowledgeartist.org/article/podcast-ecosystem-map',
			title: 'Mapping the Podcast Ecosystem',
			description: 'A map of the various players in the growing podcast ecosystem: software tools, podcast players, content producers, and more.',
			categories: ['entrepreneurship']
		},
		{
			url: 'https://knowledgeartist.org/article/language-learning-tips',
			title: 'A Review of 13 Language Learning Tactics (Tested From Learning 9 Languages)',
			description: 'A review of the various language learning tactics I tried in my own learning experience.',
			categories: ['language']
		},
		{
			url: 'https://knowledgeartist.org/article/why-i-still-learn-languages',
			title: 'Why I Still Learn Languages',
			description: 'Over the years, I have learned 9 languages. This article explores the ways in which learning languages is valuable, beyond its immediate utility.',
			categories: ['language']
		},
		{
			url: 'https://knowledgeartist.org/article/farm-luck-portfolio-small-bets',
			title: 'Farming Luck with a Portfolio of Small Bets',
			description: 'A winning strategy in a world full of uncertainty, complexity, and randomness.',
			categories: ['entrepreneurship', 'productivity', 'life']
		},
		{
			url: 'https://knowledgeartist.org/article/being-helpful-on-the-internet',
			title: 'Can\'t Go With Wrong Being Helpful on the Internet',
			description: 'To cut through the noise, here\'s a heuristic I find useful: be helpful on the internet .',
			categories: ['entrepreneurship']
		},
		{
			url: 'https://knowledgeartist.org/article/start-something-start-something-stupid',
			title: 'Start Something. Start Something Stupid',
			description: 'No one can tell in advance whether an idea will work. If someone tells you your idea is terrible, all you know is that one of you is wrong. Start something. Start something stupid.',
			categories: ['entrepreneurship', 'productivity']
		},
		{
			url: 'https://knowledgeartist.org/article/getting-overwhelmed-less',
			title: 'The Swiss Army Knife for Getting Overwhelmed Less',
			description: 'An ongoing collection of actionable tactics you can use, the next time you feel overwhelmed.',
			categories: ['entrepreneurship', 'productivity', 'life']
		},
		{
			url: 'https://knowledgeartist.org/article/everything-i-learned-starting-6k-dropshipping-business',
			title: 'Everything I Learned Starting a $6000/mo Dropshipping Business',
			description: 'A write-up of my 6-month journey of running $6000/month e-commerce stores.',
			categories: ['entrepreneurship']
		},
		{
			url: 'https://knowledgeartist.org/article/why-i-started-experimental-cooking',
			title: 'Why I Started Experimental Cooking — A Pursuit of Joy',
			description: 'Cooking to me is not about creating the best tasting dish in the world. Rather, it is an outlet of expression, a means to evoke sensations.',
			categories: ['food', 'life']
		},
		{
			url: 'https://knowledgeartist.org/article/croissant-way-of-life',
			title: 'The Croissant Way of Life',
			description: 'A celebration of the croissant - an amazing human creation that will always have a special place in my heart.',
			categories: ['food', 'life']
		},
		{
			url: 'https://knowledgeartist.org/article/do-what-gives-you-energy',
			title: 'Do What Gives You Energy - A Simple Rule for Life',
			description: 'As a simple rule for determining what to spend time on: Do more of what generates energy for you. Do less of what drains it from you.',
			categories: ['entrepreneurship', 'productivity']
		},
		{
			url: 'https://knowledgeartist.org/article/how-long-does-it-take-to-learn-a-language',
			title: 'How Long Does It Take to Learn a Language?',
			description: 'How long does it take to learn a language? Having learned 9 languages, I break down the factors involved to give you a rough estimate.',
			categories: ['language']
		},
		{
			url: 'https://knowledgeartist.org/article/startup-advice-collection',
			title: 'Ongoing Collection of Contradictory Advice for Founders',
			description: 'A collection of (conflicting) advice from various startup influencers. Whatever you are doing, you are doing it wrong according to someone.',
			categories: ['entrepreneurship']
		},
		{
			url: 'https://knowledgeartist.org/article/traditional-japanese-instruments',
			title: 'Intro to Traditional Japanese Instruments',
			description: 'Intro to Traditional Japanese Instruments',
			categories: ['music', 'culture']
		},
		{
			url: 'https://knowledgeartist.org/article/about-me',
			title: 'A Little Bit About Me',
			description: 'An introduction to yours truly.',
			categories: ['entrepreneurship']
		},
		{
			url: 'https://knowledgeartist.org/article/what-is-zettelkasten',
			title: 'What is Zettelkasten?',
			description: 'An introduction to a note-taking system that has experienced a recent in popularity.',
			categories: ['productivity', 'knowledge']
		},
	]
</script>
