{% load static %}
<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="A blog about entrepreneurship, knowledge management, learning, and the appreciation of life.">
	  <meta name="keywords" content="knowledge artist, learning, lifestyle design, mental model, art, john yeung">
	  <meta name="author" content="John Yeung">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <meta name="ahrefs-site-verification" content="c312f65e755e49ae03aba0dbe649bb96b98434666c54aeac4d03924b7ded9d09">

	  <link rel="canonical" href="https://knowledgeartist.org" />

	  <title>Knowledge Artist</title>

	  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	  <!-- Bootstrap CSS File -->
	  <link href="https://storage.googleapis.com/rumin-gcs-bucket/static/pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	  <link href="{% static "frontend/style.css" %}" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">

     <link rel="shortcut icon" type="image/x-icon" href="https://storage.googleapis.com/rumin-gcs-bucket/favicon2.png"/>

	  <!-- nav -->
	  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	</head>

  <body>
	<style>
	.dropdown-menu li.list-item {
	  padding: 0.5em 0;
	}

	/*.dropdown-menu li.list-item a:hover {
	  background-color: #CBE6FF;
	}*/

	.dropdown-menu .divider {
	  height: 1px;
	  background-color: #ccc;
	}
	 
	.btn-signup:hover {
	  background-color: #ccc;
	}

	</style>
	   {% load user_agents %}



	{% include 'frontend/ka_header.html' %}

  <div class="container blog-content" style="padding-top: 18vh;">
  	<div class="text-center">
  		<div class="mb-4">
	  		<img src="https://storage.googleapis.com/rumin-gcs-bucket/dp.jpg" style="width: 350px;" />
	  	</div>

  		<h2 class="mb-4">Hi, I'm John Yeung</h2>

  		<div class="mb-4 col-md-9 mx-auto text-left">
	  		<p>Welcome to my site. I build products, write about ideas worth savouring, and make art.</p>
	  		<p>Every two weeks, I send out a newsletter where I share the stuff I create, as well as learnings and other cool finds.
	  		<p>Enter your email below to stay in touch.</p>

				<div class="mt-4 mb-4">
					<script async data-uid="c0ad0a8689" src="https://artisanal-author-9219.ck.page/c0ad0a8689/index.js"></script>
		  	</div>

			<!-- I quit my cushy tech job to pursue a more creative life, creating things that interest me, and are valuable to others. To read more about my story, <a href="/articles/54c34b10-2116-4d28-9be9-4ec7ddb81f22/a-little-bit-about-me">here is a longer introduction</a>.</p> -->

		  	<p>This website is a growing collection of ideas I can't stop thinking about. And I experiment with various types of media to express them.</p>
		  	<p>This includes topics like <a href="/articles?category=knowledge">knowledge management</a>, <a href="/articles?category=entrepreneurship">entrepreneurship</a>, <a href="/articles?category=productivity">productivity</a>, <a href="/articles?category=language">language learning</a>, <a href="/articles?category=food">food</a>, and <a href="/articles?category=future">dreaming about the future</a>. I also share resources for learning product management on <a href="https://informedpm.com/" target="_blank">Informed PM</a>. If you would like to check out my writings, here is a <a href="/articles">full list of my essays</a>.</p>
			<!-- <p>My current mission is to better make sense of the world, and share my learnings. <em>Live my best life, and help others do the same.</em></p> -->
			<p>Join me in examining the weirdness, teasing apart the complexity, and more fully appreciating the beauty of the human condition.</p>

			<div class="mt-4 mb-4">
				<script async data-uid="51f7af89f4" src="https://artisanal-author-9219.ck.page/51f7af89f4/index.js"></script>
		  	</div>	


	  	</div>

	  	<!-- <div class="divider"></div>

	  	<div>
		  	<h4>My travels</h4>	
	  	</div> -->
  	</div>
  </div>

    <!-- Template Main JS File -->
  <script src="https://storage.googleapis.com/rumin-gcs-bucket/static/pages/js/main.js"></script>

  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=b1fc7db6-0aa3-4528-b257-add77901603c"> </script>

  {% if not debug %}
  	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172756954-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-172756954-1');
		</script>
  {% endif %}

  </body>
</html>


